body {
  background-color: black;
  margin: 0px auto;
  color: white;
  font-family: 'Work Sans';
}

.header{
  background-color: yellow;
  text-align: center;
}

.title-row{
  text-align: center;
  margin: 20px auto;
}

.instructions-title{
  display: inline;
  font-size: 18px;
  color: yellow;
}

.instructions-row {
  margin: 0 auto;
  width: 400px;
}

.instructions-number, .instructions-text {
  display: inline;
  vertical-align: middle;
  margin:0;
}
.instructions-number {
  width: 10%;
  font-size: 36px;
  color: yellow;
}
.instructions-text{
  width: 89%;
	font-size: 14px;
}

.door-row{
  text-align: center;
}

.door-frame{
  cursor: pointer;
  padding: 10px;
}

.start-row{
	margin: auto;
	width : 120px;
	height : 43px;
	font-family : 'Work Sans';
	background-color : yellow;
	padding-top : 18px;
	font-size : 18px;
	text-align : center;
	color : black;
	margin-bottom : 21px;
	cursor : pointer;
}