@import "bootstrap-sprockets";
@import "bootstrap";

.home {
    background-image: url("home_bg.jpg");
    background-color: transparent; 
    height: 750px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

th {
    text-align: center;
}

.header-wrapper {
    background: rgba(0,0,0,.8);
    padding-top: 10px;
    padding-bottom: 0px;
}

.logo {
    height: 50px;
    text-align: center;
    display: block;
	margin: 20px auto;
}

body {
    background: transparent; 
}

.top {
	margin-left: 300px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.navbar {
    margin-bottom: 0px;
}
.top a {
	transition: 0.5s;
	margin-right:50px;
	font-size:20px;
	color:maroon;
    margin-bottom: 0px;
        padding-bottom: 0px;

}

.top a:hover {
	display:inline-block;
	color:white;
	transform: scale(1.1,1.1);
	text-decoration:none;
}

a:active {
    color:black;
}

.destination{
	margin-top:20px;
}

.create {
    text-align: center;
    display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top:40px;
}

.box {
	position: absolute;
	margin-left: 490px;
    width: 500px;
    padding: 40px;
    background: rgba(0,0,0,.8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
    border-radius: 10px;
}

.box .inputBox {
    position: relative;
}

.box .inputBox input {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 30px;
    background: transparent;
    display:inline-block;
}

.label{
    font-size: 15px;
}

.box .inputBox label {
    padding: 10px 0;
    color: #fff;
    pointer-events: none;
    transition: .5s; 
}

.tablebox{
		position: absolute;
    width: 100%;
    padding: 40px;
    background: rgba(0,0,0,.8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
    border-radius: 10px;
}

.addlog{
	text-align: center;
	margin-top:20px;
	margin-left: 42%; 
}
