<!DOCTYPE html>
<html class="home">
<head>
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:700&display=swap">
	<title></title>
	<style type="text/css">
		h1{
			text-align: center;
			font-size: 50px;
			color: white;
			padding-top: 100px;
			margin: auto;
			font-family: 'Open Sans', sans-serif;
		}
	</style>
</head>
<body>

	<h1>W E L C O M E</h1>

</body>
</html>