<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		.members {
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			max-width: 80%;
		}
		h2 {
			border-bottom: 1px solid #222;
			padding-bottom: 10px;
			margin-bottom: 30px;
			color: white;
			text-align: center;
            font-size: 50px;
            color: white;
            padding-top: 30px;
            margin: auto;
            font-family: 'Open Sans', sans-serif;
		}
		.column {
		  float: left;
		  width: 25%;
		  color: white;
		  font-size: 30px;
		}
		.row:after {
		  content: "";
		  display: table;
		  clear: both;
		}

	</style>
</head>
<body>
	<div class="members">
	<h2>Developers</h2>
	<div class="row">
  		<div class="column">
  			Davin Cuaso
  		</div>
	  	<div class="column">
	  		Giddy Garcia
	  	</div>
	  	<div class="column">
	  		Marion Macalalag
	  	</div>
	  	<div class="column">
	  		Audrey Picar
	  	</div>
	</div>
</div>
</body>
</html>